    h4{
    text-align: center;
    justify-content: center;
    color:hsl(30, 4%, 10%);
    margin-top: 250px;

  
    
}



/* .modal-header{
    background-color: #dfebeb;
}
.modal-content{
  background-color: #dfebeb;
}

.modal-dialog{
    max-width: 600px;
    background-color: #100720;
} */

/* .row {
    background-image:url("../../assets/Backgroundimage.png");
    width:100%;
    height: 100vh;
    object-fit: fill;
    background-repeat: no-repeat;
  } */

  /* .center{
    margin-left:50px;
    position: absolute;
    width:100%;
   
  }  */
  .card-body{
    background-color:#dfebeb;
  }

  

  .center button{
    margin-left:120px;
  
  
    /* top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
  } 
h6{
    font-size: 90%;
}
.get {
  width: 165px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
}

.get::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.get:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  transition: 0.5s;
}



